/Tablut/logs
/Tablut/garbage
Tablut/src/it/unibo/ai/didattica/competition/tablut/piedino/search/heuristics/WhiteHeuristicsBrainmates.java
Tablut/src/it/unibo/ai/didattica/competition/tablut/piedino/search/heuristics/HeuristicsBrainmates.java
Tablut/src/it/unibo/ai/didattica/competition/tablut/piedino/search/heuristics/BlackHeuristicsBrainmates.java
Tablut/build/it/unibo/ai/didattica/competition/tablut/piedino/search/heuristics/WhiteHeuristicsBrainmates.java
Tablut/build/it/unibo/ai/didattica/competition/tablut/piedino/search/heuristics/WhiteHeuristicsBrainmates.class
Tablut/build/it/unibo/ai/didattica/competition/tablut/piedino/search/heuristics/HeuristicsBrainmates.java
Tablut/build/it/unibo/ai/didattica/competition/tablut/piedino/search/heuristics/HeuristicsBrainmates.class
Tablut/build/it/unibo/ai/didattica/competition/tablut/piedino/search/heuristics/BlackHeuristicsBrainmates.java
Tablut/build/it/unibo/ai/didattica/competition/tablut/piedino/search/heuristics/BlackHeuristicsBrainmates.class
